.heading{
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

.exterior{
  width: 800px;
  height: auto;
}

.colour{
  width: 30px;
  height: 30px;
}

.colourbutton{
  position: relative;
  margin-left: 400px;
  margin-right: 1000px;
  margin-top: 250px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 20px;
  /* margin-top: 12px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
